<html lang="tr">
    <head>         
        <title>Ana Sayfa</title>
    </head>

    <body>
        

        <h2>Ana sayfa</h2>
        <h2>başlık H2</h2>
        <h3>başlık H3</h3>
        <p class="DenemeBuyuk">merhaba dünya dünya dünya</p>
        

    </body>
</html>