<html lang="tr">
    <head>   
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
        <!--
        <link rel="stylesheet" href="/public/css.b3/style.css">
        <link rel="stylesheet" href="/public/css.b3/bootstrap.min.css"> 
        <link rel="stylesheet" href="/public/css.b3/bootstrap-theme.min.css">
        -->

        <link rel="stylesheet" href="/public/css.b3/style.css">
        
        <link rel="stylesheet" href="/public/css.b4/bootstrap.min.css">   
        <link rel="stylesheet" href="/public/css.b4/bootstrap-grid.min.css"> 
        <link rel="stylesheet" href="/public/css.b4/bootstrap-reboot.min.css"> 

    </head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">BankApp Uygulaması</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>      

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li><a class="nav-link active" href="/login/signup">Kayıt Ol</a></li>
        <li><a class="nav-link active" href="/login"> Giriş Yap</a></li>
      </ul>
    </form>

  </div>
</nav>

  <%- body %>

  <script type="text/javascript" src="/public/js.b3/jquery-3.4.1.js" ></script>
  <script type="text/javascript" src="/public/js.b4/bootstrap.js" ></script>
  <script type="text/javascript" src="/public/js.b4/bootstrap.bundle.js" ></script>
</body>
</html>